<!DOCTYPE html>
<html lang="en">

<head>
    <title>404</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        "blue": "#1DA1F2",
                        "dark-gray": "#1F2327",
                        "gray": "#181818",
                        "silver": "#AFB1B2",
                        "platinum": "E7E9EA",
                    }
                }
            }
        }
    </script>
</head>

<body>
    <div class="min-h-screen bg-black text-white">
        <div class="pb-10 mx-auto px-5 w-full lg:px-0 lg:max-w-[90ch]">
            404 - Not found
        </div>
    </div>
</body>

</html>
